Repository mjclarke94/aiida-gulp: changes, and which pre-commit hooks are due for each by the changed paths.
All: version-number, conda, travis-linter, doc8

.pre-commit-config.yaml:

# Install pre-commit hooks via
# pre-commit install

exclude: >
  (?x)^(
      aiida_gulp/tests/raw_files/.*
  )$

repos:

  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.3
    hooks:
    - id: check-json
      exclude: vscode/settings\.json
    - id: check-yaml
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: flake8

  - repo: https://github.com/psf/black
    rev: stable
    hooks:
    - id: black

  - repo: local
    hooks:

    - id: version-number
      name: Check version numbers
      entry: python ./.pre-commit/check_version.py version
      language: system
      files: >-
        (?x)^(
          setup.json|
          .pre-commit/check_version.py|
          aiida_gulp/__init__.py
        )$
      pass_filenames: false

    - id: conda
      name: Create environment.yml
      entry: python ./.pre-commit/check_version.py conda
      language: system
      files: >-
        (?x)^(
          setup.json|
          setup.py|
          .pre-commit/check_version.py|
          conda_dev_env.yml|
        )$
      pass_filenames: false

    - id: travis-linter
      name: Travis Lint
      entry: travis lint
      files: .travis.yml
      language: ruby
      additional_dependencies: ['travis']

    - id: doc8
      entry: doc8
      language: system
      types: [rst]
      name: doc8 - Lint the documentation.

    # TODO could also add check-manifest

Test Fixes (#1)
  .pre-commit-config.yaml
  README.md
  aiida_gulp/common/__init__.py
  aiida_gulp/tests/conftest.py
  aiida_gulp/tests/utils.py
  conda_dev_env.yml
  conftest.py
  docs/source/user_guide/get_started.rst
  setup.json
Due: version-number, conda, doc8

update pypi deploy key
  .travis.yml
Due: travis-linter

add top level document line
  docs/source/index.rst
Due: doc8

Fix documentation API heading
  docs/source/api_index.rst
Due: doc8

add 3.7 test
  .travis.yml
  setup.json
Due: version-number, conda, travis-linter

Update .travis.yml
  .travis.yml
Due: travis-linter

Create Buckingham potentials
  aiida_gulp/potentials/buckingham.py
  aiida_gulp/validation/schemas/fitting.buckingham.schema.json
  aiida_gulp/validation/schemas/potential.buckingham.schema.json
  setup.json
Due: version-number, conda

Fix "@" in code labels
  aiida_gulp/tests/utils.py
Due: none

Update potential validator
  aiida_gulp/calculations/gulp_abstract.py
Due: none

Add option for timeout
  aiida_gulp/parsers/raw/write_input.py
Due: none

Update Buckingham docsting
  aiida_gulp/potentials/buckingham.py
Due: none

Add charges to Buckingham potential
  aiida_gulp/potentials/buckingham.py
Due: none

Black formatting
  aiida_gulp/calculations/gulp_fitting.py
Due: none

Remove trailing whitespace
  aiida_gulp/potentials/buckingham.py
Due: none

Whitespace
  aiida_gulp/parsers/parse_fitting.py
  aiida_gulp/parsers/raw/parse_output_fit.py
Due: none

Less restrictive requirements for development
  setup.json
Due: version-number, conda

Update vscode settings
  .vscode/settings.json
Due: none

isort
  aiida_gulp/parsers/parse_fitting.py
  aiida_gulp/parsers/parse_opt.py
  aiida_gulp/parsers/parse_single.py
  aiida_gulp/parsers/raw/parse_output_fit.py
  aiida_gulp/parsers/raw/parse_output_std.py
  aiida_gulp/parsers/raw/write_geometry.py
  aiida_gulp/parsers/raw/write_input.py
Due: none

Whitespace
  aiida_gulp/parsers/raw/write_input.py
Due: none

Turn off verbose output by default
  aiida_gulp/parsers/raw/write_input.py
Due: none

Formatting
  aiida_gulp/parsers/raw/parse_output_std.py
  aiida_gulp/parsers/raw/write_geometry.py
Due: none

Create Monte Carlo handler
  aiida_gulp/calculations/gulp_mc.py
  aiida_gulp/parsers/parse_mc.py
  aiida_gulp/parsers/raw/parse_output_mc.py
  aiida_gulp/parsers/raw/write_input.py
  aiida_gulp/validation/schemas/gulp_mc.schema.json
  setup.json
Due: version-number, conda
